.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.Titulo {
  display: flex;
  color: white;
  margin-top: 14px;
  position: absolute;
  margin-left: 580px;
  font: caption;
}

.Carrito {

  width: 30px;
  height: 30px;
  margin-left: 100px;
  position: relative;
  display: flex;
  margin-top: 400px;
  
}

.Cart { 
 
  height: 30px;
  margin-left: 1100px;
  margin-top: -37px;
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;
}

.redalert {
  width: 11px;
  height: 20px;
  border-radius: 4px;
  margin-top: -6px;
  margin-left: -3px;
  position: absolute;
  color: white;
  background: red;
  display: flex;
  align-items: center;
}

.colortxt {
  margin-left: 10px;
  color:white;
}

.form {
  margin-top:10px;
}

.Contain {
  color: blue;
  background-color: aliceblue;
}

.btn-primary {
    width: 156px;
    position: absolute;
    margin-left: 48px;
    margin-top: -7px;
}

.btn-danger {
  margin-left: 203px;
  margin-top: -43px;
  position: absolute;
}

.btn-success {
  
  position: absolute;
  margin-right: 30px;
  margin-top: -44px;
}
.input {

    width: 157px;
    margin-left: 46px;
    margin-top: -42px;
    position: absolute;
    height: 36px;
    text-align: center;
}

.ph {
  background-color:blue;
}

.letra { 
    font-style: oblique;
    font-size: 80px;
    display: flex;
    color: black;
    font-family: auto;
}

.productos {
  margin-top: 10px;
  margin-left: 100px;
}

.letra2 {
  font-style: oblique;
}

#root {
  background:url('https://res.cloudinary.com/diivxdasa/image/upload/v1618592219/fondoOk_b28mxj.jpg');
}

#compra {
  text-align: center;
}

#finalizar {
  margin-left: 630px;
  margin-top: 60px;
}

#eliminarTodo {
   margin-left: 623px;
   margin-top: 33px;
}

.total {
  text-align: center;
  background: white;
}

#eliminar {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 1049px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -25px;
}

.linea {
  margin-left: 150px;
  width: 800px;
  background-color: black;
}

.form {
  margin-left: 465px;
  position: absolute;
  justify-content: center;
  background: white;
  align-items: center;
  display: block;
  margin-top: 30px;
}

#orden {
  width: 400px;
  
}

.input-grup-sm {
  width: 400px;
}

.card-columns {
  font-size: 12px;
}

#detailCounter {
  margin-left: 100px;
  width: 342px;
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.letraItem {
  font-family: oblique;
  font-style: oblique;
}

.detailLetra {
  margin-left: -75px;
  width: 440px;
  position: relative;
  display: flex;
}

.card-img-top {
  border-radius: 120px;
}

.card {
  border-radius: 20px;
}

.w-75 {
  border-radius: 150px;
}